body {
    font: normal 12px Abel, sans-serif;
}

.editor-div {
    width: 600px;
    border: 1px solid black;
    vertical-align: top;
}

.parent {
  // border: 1px solid black;
  margin: 1rem;
  // padding: 2rem 2rem;
  display: inline-block;
  // text-align: center;
}
.child {
  display: inline-block;
  vertical-align: middle;
}

